/* Column Layout */

.container {
    margin-top: 30px;
}

.primary {
    height: 825px;
    display: flex;
    flex-direction: column;
}

.secondary {
    height: 825px;
}

@media (min-width: 1400px) {
    .container {
        width: 1360px;
    }
}


/* Resume download button */

#resume-download-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#resume-download {
    width: 400px;
    height: 50px;
    background-color: var(--navy);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

#resume-download img {
    height: 40px;
}

#resume-download-container>a:hover,
#resume-download-container>a:link,
#resume-download-container>a:visited,
#resume-download-container>a:active {
    text-decoration: none;
}


/* card sections */

.card {
    min-height: 460px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: flex-start; */
    background-color: var(--gray-semi-transparent);
    z-index: 10;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.card-title {
    /* background-color: #333; */
    /* background-image: linear-gradient(to right, #555, var(--gray-semi-transparent)); */
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    height: 75px;
    width: 100%;
}

.card-title-reverse {
    /* background-image: linear-gradient(to left, #555, rgb(230, 230, 230, 0.5)); */
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    height: 75px;
    width: 100%;
}

.education-row {
    margin: 30px 5%;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 30% 60%;
}


/* skills */

.skill-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.skill-row-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.skill-row-left img {
    width: 60px;
    height: 60px;
    -webkit-transition: width 0.5s, height 0.5s;
    -ms-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}

.skill-row-left img:hover {
    width: 80px;
    height: 80px;
}

.skill-row-right {
    flex: 0.75;
    height: 80px;
}

.skill-row-right>div {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skill-bar {
    height: 20px;
    width: 100%;
    background-color: var(--platinum);
    margin-top: -20px;
}

.skill-bar-inner {
    height: 20px;
    width: 0px;
    float: left;
    background-color: var(--blue-light);
    -webkit-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}


/* Reflexive layout */

@media (max-width: 650px) {
    .primary {
        height: 700px;
    }
}

@media (max-width: 550px) {
    .primary {
        height: 600px;
    }
}

@media (max-width: 450px) {
    #resume-download {
        width: 300px;
        height: 40px;
    }
    .primary {
        height: 550px;
    }
}