/* Body, backgrounds and other global settings */

body {
    margin: 0px;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

#spark-canvas {
    display: block;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

.clickable {
    cursor: pointer;
}

a.disabled {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
}

a.disabled:hover {
    color: currentColor;
}

mark {
    background: #ff0;
    padding: 0;
}


/* Define colors */

:root {
    --gray: #b8b8b8;
    --gray-dark: #666;
    --gray-light: #bbb;
    --gray-semi-transparent: rgba(230, 230, 230, 0.5);
    --black-semi-transparent: rgba(0, 0, 0, 0.6);
    --platinum: #dce3e6;
    --blue: #97a5b2;
    --blue-light: #59aae2;
    --blue-light-semi-transparent: rgba(89, 170, 226, 0.5);
    --navy: #001128;
    --brown: #cabfb9;
    --wheat: #d9d2c7;
    --shadow: rgba(0, 0, 0, 0.2);
    --sky-blue: #3b5e9a;
    --sky-blue-light: #85a3d1;
    --sky-blue-fade: #b8d2f4;
}


/* Text fonts */

.plainfont {
    text-decoration: none;
}

.monospacefont {
    font-family: 'Courier New', monospace;
}

.underlinefont {
    text-decoration: underline;
    text-decoration-color: black;
}

.titlefont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.blackfont,
.blackfont:hover,
.blackfont:active,
.blackfont:link,
.blackfont:visited {
    color: black;
}

.whitefont,
.whitefont:hover,
.whitefont:link,
.whitefont:active,
.whitefont:visited {
    color: white;
}

.semiblackfont,
.semiblackfont:hover,
.semiblackfont:link,
.semiblackfont:active,
.semiblackfont:visited {
    color: var(--black-semi-transparent);
}

.grayfont,
.grayfont:hover,
.grayfont:link,
.grayfont:active,
.grayfont:visited {
    color: var(--gray-dark);
}

.hugefont {
    font-size: 36px;
    font-weight: 700;
}

.largefont {
    font-size: 28px;
}

.bigfont {
    font-size: 22px;
}

.midfont {
    font-size: 18px;
}

.smallfont {
    font-size: 14px;
}

.tinyfont {
    font-size: 11px;
}

.centertext {
    text-align: center;
}


/* Navigation bar */

.navbar-container {
    width: 100%;
    position: fixed;
    border-radius: 0;
    z-index: 1000;
    background-color: white;
    -webkit-transition: top 0.3s, background-color 0.3s linear;
    -ms-transition: top 0.3s, background-color 0.3s linear;
    transition: top 0.3s, background-color 0.3s linear;
}

.navbar {
    height: 75px;
    box-shadow: 0px 0px 5px 0px var(--shadow);
    /* overflow: visible; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    margin: 0;
}

.transparent {
    background-color: transparent;
}

.navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    margin: auto 30px;
}

.navbar::before {
    content: none;
}

.navbar::after {
    content: none;
}

.navbar div a {
    display: block;
    padding-right: 30px;
}

#navbar-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-right: 10px;
    transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-right 0.3s;
    -webkit-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-right 0.3s;
    -ms-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-right 0.3s;
}

#navbar-icon:hover {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 0px;
}

.navbar a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 0px 3px var(--shadow)
}

.navbar div a,
.navbar div a:visited,
.navbar div a:link,
.navbar div a:active {
    text-decoration: none;
    color: black;
}

.navbar-placeholder {
    height: 75px;
}

#navbar-right-container {
    float: right;
    margin-right: 50px;
    height: 75px;
}

#navbar-right-container a img {
    height: 30px;
    width: 30px;
}

#navbar-right-container>input {
    height: 30px;
    margin: auto 15px auto -10px;
}

#small-device-navbar-opener {
    cursor: pointer;
    display: none;
}

#small-device-background-cover {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}


/* header sections */

.header-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(240, 240, 240, 0.5); */
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

#signature-canvas {
    margin-bottom: 50px;
}

.header-container text {
    margin-bottom: 50px;
}

.header-container button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: var(--gray-dark);
}

.header-container button:hover {
    background-color: var(--gray-light);
}

#header-descriptor span {
    opacity: 0;
    transition: opacity 4s;
    -webkit-transition: opacity 4s;
    -ms-transition: opacity 4s;
}


/* Contact links tab */

.contact-tab {
    position: fixed;
    left: -120px;
    width: 180px;
    height: 60px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: left 0.5s, border-radius 0.5s;
    -webkit-transition: left 0.5s, border-radius 0.5s;
    -ms-transition: left 0.5s, border-radius 0.5s;
}

.contact-tab-text {
    width: 120px;
}

.contact-tab:hover {
    left: 0px;
    border-radius: 0 15px 15px 0;
}

.contact-tab1 {
    top: 125px;
    background-color: #2767bc;
    border-radius: 0 15px 0 0;
}

.contact-tab2 {
    top: 185px;
    background-color: #25292e;
    border-radius: 0 0 0 0;
}

.contact-tab3 {
    top: 245px;
    background-image: url('../assets/mail-background.png');
    border-radius: 0 0 0 0;
}

.contact-tab4 {
    top: 305px;
    background-image: url('../assets/instagram-background.png');
    border-radius: 0 0 15px 0;
}


/* Intro section */

.intro-container {
    margin: auto;
    height: 200px;
    width: 1000px;
    display: grid;
}

.intro-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* background-color: var(--gray-semi-transparent); */
    z-index: 10;
}

.intro-container div span a{
    color: inherit
}

.intro-container img {
    height: 200px;
    border-radius: 10%;
}

.intro-text-container {
    margin-left: 40px;
}

.intro-container:nth-child(odd) {
    grid-template-columns: 200px 750px;
}

.intro-container:nth-child(even) {
    grid-template-columns: 750px 200px;
}

.intro-container div:nth-child(2) {
    padding: 20px 30px;
}

.intro-container:nth-child(even) div:nth-child(1) {
    order: 2;
}

#intro-locator {
    margin: 35px auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Image carousel */

#carousel-title {
    padding-top: 50px;
    margin-bottom: 50px;
}

.carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 10;
}

.carousel .carousel-inner .item img {
    height: 500px;
    width: 825px;
    margin: auto;
}

.carousel .left,
.carousel .right {
    background-image: none;
}

.carousel-control {
    color: black;
}

.carousel-indicators {
    width: 20%;
    margin-left: -10%;
    z-index: 100;
}

.carousel-descriptor {
    height: 25px;
}


/* footer */

.footer-container {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #333;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Reflexive layouts */

@media (max-width: 1025px) {
    /* Change intro section to show images and descriptions in verticle relation */
    .intro-container {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-container div:nth-child(1) {
        width: 200px;
        height: 200px;
    }
    .intro-container:nth-child(even) div:nth-child(2) {
        order: 2;
    }
    .carousel .carousel-inner .item img {
        height: 48.7805%;
        width: 80.4878%;
        margin: auto;
    }
    .left.carousel-control {
        width: 9.756%;
    }
    .right.carousel-control {
        width: 9.756%;
    }
    #carousel-title {
        padding-top: 30px;
    }
}

@media (max-width: 800px) {
    /* Ajust navigation bar to expand on left when clicked */
    .contact-tab {
        display: none;
    }
    .navbar>div:nth-child(2) {
        position: fixed;
        height: 100vh;
        width: 200px;
        margin: 0;
        top: 0;
        left: -200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        -webkit-transition: left 0.3s;
        -ms-transition: left 0.3s;
        transition: left 0.3s;
    }
    .navbar>div:nth-child(2)>a {
        margin-top: 20px;
    }
    #small-device-navbar-opener {
        display: flex;
    }
    .navbar a:hover {
        text-decoration: none;
        color: black;
        text-shadow: none;
    }
    .navbar div a:active {
        text-decoration: underline;
        color: black;
    }
    /* .header-container {
        background-image: url(../assets/background-md.png);
    } */
}

@media (max-width: 767px) {
    .carousel-indicators {
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    /* Shrink font size */
    .hugefont {
        font-size: 32px;
        font-weight: 650;
    }
    .largefont {
        font-size: 24px;
    }
    .bigfont {
        font-size: 18px;
    }
    .midfont {
        font-size: 15px;
    }
    .smallfont {
        font-size: 11px;
    }
    .tinyfont {
        font-size: 9px;
    }
    #carousel-title {
        padding-top: 15px;
        margin-bottom: 15px;
    }
    .carousel {
        margin-top: 15px;
    }
    #homeCarousel {
        margin-bottom: 35px;
    }
    .intro-container div {
        border-radius: 25px;
    }
    .intro-container div:nth-child(1) {
        width: 200px;
        height: 200px;
    }
    .intro-container img {
        height: 175px;
    }
    #navbar-right-container {
        margin-right: 25px;
    }
}

@media (max-width: 550px) {
    .intro-container {
        margin-bottom: 20px;
    }
    .hugefont {
        font-size: 26px;
        font-weight: 650;
    }
    .largefont {
        font-size: 20px;
    }
    .bigfont {
        font-size: 15px;
    }
    .midfont {
        font-size: 12px;
    }
    .smallfont {
        font-size: 9px;
    }
    .tinyfont {
        font-size: 7px;
    }
    #homeCarousel {
        margin-bottom: 20px;
    }
    /* .header-container {
        background-image: url(../assets/background-sd.png);
    } */
    .navbar>div:nth-child(2) {
        width: 150px;
        left: -200px;
    }
    .intro-container div {
        border-radius: 15px;
    }
    .intro-container div:nth-child(1) {
        width: 175px;
        height: 175px;
    }
    .intro-container img {
        height: 150px;
    }
    .intro-container div:nth-child(2) {
        padding: 15px;
    }
    .navbar,
    .navbar div,
    .navbar-placeholder,
    #navbar-right-container,
    .footer-container {
        height: 60px;
    }
    p {
        margin-bottom: 7px;
    }
}

@media (max-width: 450px) {
    .hugefont {
        font-size: 22px;
        font-weight: 650;
    }
    .largefont {
        font-size: 16px;
    }
    .bigfont {
        font-size: 12.5px;
    }
    .midfont {
        font-size: 10px;
    }
    .smallfont {
        font-size: 8px;
    }
    .tinyfont {
        font-size: 6px;
    }
    #homeCarousel {
        margin-bottom: 0px;
    }
    .intro-container div {
        border-radius: 10px;
    }
    .intro-container div:nth-child(1) {
        width: 150px;
        height: 150px;
    }
    .intro-container img {
        height: 125px;
    }
    #navbar-right-container {
        margin-right: 15px;
    }
}